{{ define "hero" }}
<section class="flex justify-center items-center w-full pb-[50px] border-b-[5px] border-octoLilac">
    <div class="flex flex-wrap justify-center gap-11 w-4/5 max-w-[1200px] mt-[35px]">
        <div class="flex-[5] text-xl">
            <div class="w-[90%] text-darkBlue font-urbanist">
                <h1 class="text-[2.5rem] font-bold leading-[normal] mt-[0.83em] mb-4">Collaborative editing for your IDE or custom editor</h1>
                <p class="font-urbanist my-[1em] leading-[normal]">Boost remote teamwork with open source technology. Share your editor contents and see changes in real-time.</p>
                <p class="font-urbanist my-[1em] leading-[normal]">Extensible by design: connect custom editors from your IDE or web app. Deploy a collaboration server to suit your specific needs.</p>
            </div>
        </div>
        <div class="flex-[4] hidden md:block pt-10">
            <image src="/assets/home-hero.webp" alt="Abstract illustration of collaborative editing" class="w-full h-[250px] object-cover" />
        </div>
    </div>
</section>
{{ end }}
{{ define "main" }}
{{ .Content }}
{{ end }}