<footer class="w-full mt-[75px] flex justify-center items-center text-white bg-eminence font-barlow font-light">
    <div class="flex justify-center items-center gap-4 py-4 w-4/5 max-w-[1300px]">
        <a href="http://www.eclipse.org/legal/privacy.php" class="hover:underline text-center">Privacy Policy</a>
        <p class="my-[1em] px-2"> • </p>
        <a href="http://www.eclipse.org/legal/termsofuse.php" class="hover:underline text-center">Terms of Use</a>
        <p class="px-2"> • </p>
        <a href="http://www.eclipse.org/legal/copyright.php" class="hover:underline text-center">Copyright Agent</a>
        <p class="px-2"> • </p>
        <a href="http://www.eclipse.org/legal" class="hover:underline text-center">Legal</a>
        <p class="px-2"> • </p>
        <div class="text-center">
            &copy; 2025 by <a href="http://www.eclipse.org/" target="_blank" class="hover:underline">Eclipse
                Foundation</a>
        </div>
    </div>
</footer>