<footer class="flex items-center justify-center w-full font-light text-white bg-darkBlue font-barlow text-xs md:text-base">
    <div class="flex justify-center items-center gap-3 md:gap-4 py-8 w-[90%] max-w-[1300px]">
        <a href="https://www.eclipse.org/legal/privacy/" class="text-center hover:underline">Privacy Policy</a>
        <p class="md:px-2"> • </p>
        <a href="https://www.eclipse.org/legal/terms-of-use/" class="text-center hover:underline">Terms of Use</a>
        <p class="md:px-22"> • </p>
        <a href="https://www.eclipse.org/legal/copyright/" class="text-center hover:underline">Copyright Agent</a>
        <p class="md:px-2"> • </p>
        <a href="https://www.eclipse.org/legal" class="text-center hover:underline">Legal</a>
        <p class="md:px-2"> • </p>
        <div class="text-center">
            &copy; 2025 by <a href="https://www.eclipse.org/" target="_blank" class="hover:underline">Eclipse Foundation</a>
        </div>
    </div>
</footer>
