<footer class="barlow-light bg-violet">
    <div class="footer-content">
        <a href="https://www.eclipse.org/legal/privacy.php" class="fg-white">Privacy Policy</a>
        <p aria-hidden="true"> • </p>
        <a href="https://www.eclipse.org/legal/termsofuse.php" class="fg-white">Terms of Use</a>
        <p aria-hidden="true"> • </p>
        <a href="https://www.eclipse.org/legal/copyright.php" class="fg-white">Copyright Agent</a>
        <p aria-hidden="true"> • </p>
        <a href="https://www.eclipse.org/legal/" class="fg-white">Legal Resources</a>
    </div>
    <div class="footer-copyright">
        <p>
            Copyright © <a class="fg-white" href="https://www.eclipse.org">Eclipse Foundation</a> AISBL. All Rights Reserved.
        </p>
    </div>
</footer>
