<header class="bg-indigo-dark">
    <div class="header-content">
        <a href="/#" style="text-decoration: none;">
            <div class="logo-container">
                <img src="/assets/logo.jpg" alt="Open Collaboration Tools Logo" style="width: 110px; height: 110px;">
                <h1 class="barlow-regular fg-indigo-light" style="width: 140px; font-size: 24px;">Open Collaboration
                    Tools</h1>
            </div>
        </a>
        <nav>
            <a href="/#" class="urbanist-bold fg-indigo-light">Documentation</a>
            <a href="/#" class="urbanist-bold fg-indigo-light">Playground</a>
            <a href="/#" class="urbanist-bold fg-indigo-light">Support</a>
        </nav>
        <nav>
            <a href="https://github.com/TypeFox/open-collaboration-tools" target="_blank">
                <img src="/assets/github-mark.svg" alt="github repository" style="width: 43px; height: 43px;">
            </a>
        </nav>
    </div>
</header>