<header class="w-full flex justify-center sticky">
    <div class="flex flex-wrap justify-between items-center py-4 gap-y-8 max-w-[1300px] w-[85%]">
        <a href="/#" class="no-underline">
            <img src="/assets/oct-logo-full.svg" alt="Open Collaboration Tools" class="h-[110px]">
        </a>
        <div class="flex-grow"></div>
        <nav class="flex items-center">
            <a href="/playground" class="ml-6 font-urbanist font-bold text-darkBlue hover:underline">Playground</a>
            <a href="https://github.com/TypeFox/open-collaboration-tools/discussions" class="ml-6 font-urbanist font-bold text-darkBlue hover:underline">Community</a>
            <a href="https://www.typefox.io" class="ml-6 font-urbanist font-bold text-darkBlue hover:underline">Support</a>
            <a href="https://github.com/TypeFox/open-collaboration-tools" target="_blank" class="ml-6">
                <img src="/assets/github-mark-header.svg" alt="GitHub Repository" class="w-[43px] h-[43px]">
            </a>
        </nav>
    </div>
</header>
