<header style="display: flex; flex-direction: row; position: sticky;">
    <a href="/#" style="flex-grow: 1; text-decoration: none;">
        <h1 style="color: black;">Open Collaboration Tools</h1>
    </a>
    <nav style="display: flex; flex-direction: row; align-items: center;">

        <a href="https://github.com/TypeFox/open-collaboration-tools" target="_blank">
            <img src="/assets/github-mark.svg" alt="github repository" style="width: 43px; height: 43px;">
        </a>
    </nav>
</header>