<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    {{ partial "oct-head" . }}
</head>

<body>
    {{ partial "oct-header" . }}
    <main>
        <section style="height: 100%;">
            <div class="text-content error-text">
                <h1>Page Not Found</h1>
                <h2>Couldn't find what you were looking for? Maybe we can help.</h1>
                <div class="button-bar">
                    <a class="button" href="https://www.typefox.io/">Get Support</a>
                    <a class="button" href="/">Back to Homepage</a>
                </div>
            </div>
        </section>    
    </main>
    {{ partial "oct-footer" . }}
</body>


</html>